.search{
    margin: 0 10px 50px;
}
.search input{
    width: 250px;
    padding: 10px;
    color: red;
    margin-right: 10px;
    border: 2px dashed red;
    border-radius: 10px;
    font-size: 1rem;
}
.search input:focus{
    outline: none;
}
.search button{
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}